
#digg-widget span.ext {
  background: none;
}

#widget-preview span.ext {
  display: none
}

#widget-generator,#widget-generator h1 {
  line-height: normal;
}

#widget-generator h2 {
  line-height: normal;
  margin-bottom: 1em;
}

#widget-generator h3,#widget-generator h4 {
  line-height: normal;
  font-weight: bold;
  margin-bottom: 1em;
}

#widget-generator p {
  margin-top: 1em;
}

#widget-generator {
  width: 960px;
  font-family: arial, helvetica;
  font-size: 12px;
}

#widget-generator input,#widget-generator select {
  font-family: arial, helvetica;
}

#widget-generator div.intro {
  position: relative;
  padding: 20px;
}

#widget-generator div.intro h1 {
  font-size: 28px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

#widget-generator .intro h1 span {
  margin: 0;
  width: 293px;
  display: inline-block;
}

#widget-generator .intro h1 span.intro {
  font-size: 12px;
  width: 607px;
  letter-spacing: 0;
  font-size: .4em;
}

#widget-generator strong {
  color: #bf1313
}

.widget-preview {
  margin: 0 0 20px 0;
  padding: 0 0 13px 0;
  background: url(img/cut_black.png) 300px bottom no-repeat;
}

#widget-preview {
  position: relative;
  width: 100%;
  background: url(img/cut_white.png) 300px top no-repeat #000;
  color: #fff;
  padding: 20px 0;
}

#widget-preview h4 {
  color: #fff;
  font-size: 16px;
  margin: 10px 0 15px 0;
}

#widget-preview .style-options {
  float: left;
  clear: none;
  width: 293px;
  margin: 0 0 0 20px;
}

#widget-preview .more-style-options {
  display: none;
}

#widget-preview .style-options form {
  border-top: 20px #000 solid;
}

.show-more-style-options {
  cursor: pointer;
  font-size: 12px;
}

#widget-preview input {
  border: 1px #999 solid;
  background: #000;
  color: #999;
  padding: 4px;
  padding: 4px;
}

.widget-title label {
  color: #999;
}

#widget-preview .dimensions,#widget-preview .content-option {
  margin-top: 5px;
  color: #999;
}

#widget-preview .dimensions input {
  width: auto;
  margin-right: 10px;
}

#widget-preview .content-option a {
  color: #999;
}

#widget-preview .content-option input {
  width: auto;
  margin: 0;
  border: 0;
  padding: 0;
}

#description-color,#subhd-color {
  display: none;
}

#widget-preview .color {
  position: relative;
  padding: 0 0 6px 0;
  margin: 10px 0 0 0;
  color: #fff;
  width: 244px;
}

#widget-preview .color label {
  font-size: 12px;
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 5px;
  line-height: normal;
}

#widget-preview .color input {
  display: block;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border: 1px #1b5790;
  background: #1b5790;
  color: #fff;
  margin: 5px 0 0 0;
  font-weight: bold;
  width: 244px;
}

#tab-colors {
  display: none;
}

.swatch {
  float: left;
  margin: 5px 3px 0 1px;
  cursor: point;
  width: 14px;
  height: 14px;
  border: 1px #484848 solid;
}

#layout-select {
  clear: both;
}

#layout-select div {
  cursor: pointer;
}

#layout1,#layout2,#layout3 {
  float: left;
  clear: none;
}

.layout {
  color: #484848;
  font-weight: bold;
}

.layout.on {
  color: #fff;
}

#layout1 {
  padding: 0 15px 0 0;
  border-right: 1px #484848 solid;
}

#layout2 {
  padding: 10px 0 0 15px;
  border-left: 1px #484848 solid;
  margin: 0 0 0 -1px;
}

#layout-select .single {
  background: url(img/icn_1col_off.png) no-repeat;
  width: 50px;
  height: 60px;
  margin: 0 0 10px 0;
}

#layout-select .on .single {
  background: url(img/icn_1col_on.png) no-repeat;
}

#layout-select .double {
  background: url(img/icn_2col_off.png) no-repeat;
  width: 84px;
  height: 50px;
  margin: 0 0 10px 0;
}

#layout-select .on .double {
  background: url(img/icn_2col_on.png) no-repeat;
}

#widget-preview .preview-hint {
  position: absolute;
  right: 20px;
  top: 40px;
  color: #484848;
  text-align: right;
  font-size: 11px;
}

#widget-preview .preview-hint h4 {
  color: #484848;
  margin: 0;
}

.widget-container {
  float: left;
  clear: none;
  width: 607px;
}

#widget-container {
  position: relative;
  z-index: 100;
  margin: 15px 0 0 0;
  padding: 0;
  width: 300px;
  min-height: 350px;
  margin: 0 auto;
}

#widget-container.layout2 {
  padding: 80px 0 0 0;
  width: auto;
}

#widget-code {
  clear: both;
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
  border-top: 1px #b8b8b8 solid;
}

#tab-selector {
  float: left;
  position: relative;
  border-left: 20px #fff solid;
}

#tab-selector h4,#tab-selector h3 {
  color: #b8b8b8;
  font-size: 13px;
}

#tab-selector h4#single-tab {
  margin: 5px 0 0 5px;
}

#tab-selector button {
  color: #fff;
  font-weight: bold;
  padding: 5px 8px;
  background: #b8b8b8;
  margin: 10px 0 0 0;
}

#tab-selector button,#tab-selector input {
  border: 1px #b8b8b8 solid;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
}

#tab-selector input {
  color: #b8b8b8;
  padding: 4px;
}

.tab-edit {
  position: relative;
  padding: 5px 5px 10px 5px;
  border-bottom: 1px #b8b8b8 solid;
}

.tab-edit h4 {
  margin: 0 0 5px 0;
}

.tab-edit.selected {
  background: #fff0c5;
}

.tab-edit .tab-delete {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 13px;
  line-height: 13px;
  color: #b8b8b8;
  cursor: pointer;
  display: none;
}

.tab-edit.selected .tab-delete {
  display: block;
}

#what-to-show {
  width: auto;
  font-size: 11px;
  font-weight: bold;
  padding: 0 0 20px 0;
}

#what-to-show div.intro {
  padding: 0 0 15px 0;
  border-bottom: 2px #b8b8b8 solid;
  margin: 20px 20px 15px 20px;
  color: #b8b8b8;
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
}

#what-to-show .intro h4 {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  float: left;
  clear: none;
  width: 293px;
}

#what-to-show .fld {
  padding: 15px 10px;
  border-bottom: 1px #b8b8b8 solid;
}

#what-to-show .storycount {
  padding: 10px 0 0 0;
  text-align: right;
}

#what-to-show .fld input,#what-to-show .fld select {
  vertical-align: baseline;
}

#what-to-show .fld .ffld {
  padding: 5px 0 0 0;
  border: 0;
}

#what-to-show .fld .ffld .r {
  visibility: hidden;
}

#fields-container {
  float: right;
  width: 627px;
  margin-right: 20px;
}

.fld.selected {
  background: #fff0c5;
}

#yourusername {
  margin-left: 10px;
}

#widget-generator .finished {
  margin: 0;
  background: #f5f5f5;
  padding: 15px 20px;
  clear: both;
}

br {
  clear: both;
}

.br {
  line-height: 1px;
  clear: both;
}
